<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Forum Topic</title>
</head>

<body style="margin:0; padding:0">
<table cellpadding="0" cellspacing="0" width="100%" style="width:100%; background:#232f3e; margin:0px; padding:0px;  padding-top:35px; padding-bottom:35px; font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;">
	<tr>
    	<td>
        	<table style="width:660px; margin:0 auto; padding-left:30px; padding-right:30px;" cellpadding="0" cellspacing="0">
            	<tr>
                	<td>
                    	
                        <table cellpadding="0" cellspacing="0" style="width:100%; border-radius:5px; background:#fff; padding:65px 25px;">
                        	<tr>
                            	<td>
                                	<table cellpadding="0" cellspacing="0" style="width:100%">
                                    	<tr>
                                        	<td style="color:#232f3e; font-size:36px; text-align:center;"><strong>New Question/Answer Approval Request</strong></td>
                                        </tr>
                                        <tr>
                                        	<td height="15"></td>
                                        </tr>
                                        <tr>
                                        	<td style="color:#232f3e; font-size:18px; text-align:center; line-height:35px;">Please check Admin panel of your store<br/>Product:{{var product}} <br/>Email:{{var email}} <br/>Post:{{var message}}<br/></td>
                                        </tr>
                                        <tr>
                                        	<td height="25"></td>
                                        </tr>
                                        <tr>
                                        	<td style="font-size:18px; color:#232f3e; text-align:center;">
                                            	Thank You.
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                       
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>



</body>
</html>
